.body_history {
    margin: 24px 32px;
}
.ant-select-single.ant-select-lg .ant-select-selector {
    padding: 20px 8px !important;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
    background-color: #f2f2f2c6 !important;
    opacity: 0.75;
    color: #090909 !important;
}
