tbody .ant-table-row:nth-child(2) {
    color: #389e0d;
    font-weight: 600;
}

.body_history {
    margin: 24px 32px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: #389e0d;
    margin-bottom: 16px;
}

.rangePicker {
    margin-bottom: 16px;
}

.header-bottom-left {
    display: flex;
    gap: 8px;
}
