.header-bottom-right {
  display: flex;
  align-items: center;

  &-item {
    margin-left: 24px;
    color: #4a505c;
    font-size: 16px;
    padding-bottom: 6px;
    cursor: pointer;
  }
}
.header-bottom-left {
  p {
    font-size: 16px;
    color: #389e0d;
    font-weight: 400 !important;
  }
}

.header-bottom {
  // padding: 40px 0px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-bottom-left {
    color: #4a505c;
    font-weight: bold; /* For bold text */
    font-size: 2.5rem;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0.16px;
    font-weight: bold;
    text-indent: 5px;
    display: flex;
    align-items: center;
  }
  .header-bottom-right {
    display: flex;
    width: 45%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    justify-content: flex-end;
    .search-bar {
      width: 60%;
      .ant-input {
        padding: 5px 10px;
        text-indent: 5px;
        font-size: 12.6pt;
        border-radius: 5px;
        border: solid 1.5px #bdbdbd;
        // box-shadow: 0 0 5px 0.2px #D3D3D3;
      }
    }
    .search-bar input {
      box-shadow: none;
    }

    .search-bar:visited {
      outline: none !important;
      box-shadow: none !important;
    }
    .back-btn {
      display: flex;
      margin: 0 5px;
      border: 1px solid;
      border-radius: 5px;
      font-size: 14px;
      letter-spacing: 0.14px;
      background-color: #F0810D;
      color: #fff;
      height: 40px;
      padding: 10px 15px;
      align-items: center;
      font-weight: 800 !important;
    }
  }
}