.explain_open_price{
    position: absolute;
    top: -50px;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dddddd;
    width: 500px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #0000000F;
    color: #4A505C;
    font-family: Montserrat;
    font-size: 15px;
}